$primary-color: white;
$bg: black;

h1 {
  color: $primary-color;
  background-color: $bg;
}

.container {
  margin: 10px;
  max-width: 500px;
  border: 2px black solid;
}

.container-inner {
  height: 15px;
  background-color: orange;
}